<!-- Navigation bar -->
<div id="navigationBar">
    <div class="container-index">
        <div class="navigationBarLeft">
            <ul>
                <li><a href="/">Cloud GP14</a></li>
                <li class="nav-item dropdown dropdown-menu-start">
                  <a class="nav-link " href="#"  data-bs-toggle="dropdown" aria-expanded="false">
                    <i id="bellCount" class="fa-solid fa-bell" data-count="0" ></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark  text-wrap" id="notify" style="width: 300px !important;"></ul>
                </li>
                <li class="des"><a href="/summary">Summary Report</a></li>
                <li class="des"><a href="/driver">Real Time</a></li>
            </ul>

        </div>
        <div class="navigationBarRight">
            <ul>
                <li id="navbarToggle">MENU</li>
            </ul>
        </div>
    </div>
</div>