<!-- Navigation bar -->
<header class="d-flex flex-wrap justify-content-start ps-5 py-3 mb-4 border-bottom bg-light">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Cloud GP14</a></li>
        <li class="nav-item"><a href="/summary" class="nav-link">Summary Report</a></li>
        <li class="nav-item"><a href="/graph" class="nav-link">Graph Report</a></li>
        <li class="nav-item"><a href="/driver" class="nav-link">Real Time</a></li>
      </ul>
</header>