{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block main %}
	<div class="container">
        <div class="bg-light p-5 rounded">
          <h1>Summary Report</h1>
          <p class="lead">The summary report show the driving behavior information.</p>
          <a class="btn btn-lg btn-primary text-white" href="/summary" role="button">Get summary report</a>
        </div>
        <br><br>
        <div class="bg-light p-5 rounded">
          <h1>Summary Report By Day</h1>
          <p class="lead">The summary report show the driving behavior information by day.</p>
          <a class="btn btn-lg btn-primary text-white" href="/summary" role="button">Get summary report by day</a>
        </div>
        <br><br>
        <div class="bg-light p-5 rounded">
            <h1>Realtime Driver Monitor System</h1>
            <p class="lead">You can monitor the driving speed of each driver.</p>
            <a class="btn btn-lg btn-primary text-white" href="/driver" role="button">Click Here to choose driver</a>
          </div>
      </div>
{% endblock %}