{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
{% endblock %}

{% block main %}
<div class="card m-5 p-3">
    <h1 class="card-title mt-2 text-center">Summary Report</h1>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Driver ID</th>
                    <th>Car Plate Value</th>
                    <th>Total Times of Overspeed</th>
                    <th>Total Duration of Overspeed </th>
                    <th>Total Times of Fatigue Driving</th>
                    <th>Total Times of Neutral Slide</th>
                    <th>Total Duration of Neutral Slide</th>
                </tr>
            </thead>
            <tbody>
                {% for row in summary %}
                <tr>
                    {% for data in row %}
                    <td scope="row">{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}