{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block main %}
<div class="card m-5 p-3">
    <h1 class="card-title mt-2 text-center">Summary Report</h1>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Driver ID</th>
                    <th>Car Plate Value</th>
                    <th>Average Speed</th>
                    <th>Total Times of Overspeed</th>
                    <th>Total Duration of Overspeed </th>
                    <th>Total Times of Fatigue Driving</th>
                    <th>Total Times of Neutral Slide</th>
                    <th>Total Duration of Neutral Slide</th>
                </tr>
            </thead>
            <tbody>
                {% for row in summary %}
                <tr>
                    {% for data in row %}
                    <td scope="row">{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="dateFilter">
<label for="date-select">Choose a date:</label>
<select id="date-select" onchange="filterByDate(this.value)">
    <option value="All">All</option>
    {% for date in dates %}
    <option value="{{ date }}">{{ date }}</option>
    {% endfor %}
</select>

<div class="card m-5 p-3">
    <h1 class="card-title mt-2 text-center">Summary Report By Daily</h1>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Driver ID</th>
                    <th>Car Plate Value</th>
                    <th>Average Speed</th>
                    <th>Total Times of Overspeed</th>
                    <th>Total Duration of Overspeed </th>
                    <th>Total Times of Fatigue Driving</th>
                    <th>Total Times of Neutral Slide</th>
                    <th>Total Duration of Neutral Slide</th>
                </tr>
            </thead>
            <tbody>
                {% for summaryd in summaryday %}
                <tr>
                    <td>{{ summaryd.driverID }}</td>
                    <td>{{ summaryd.carPlateNumber }}</td>
                    <td>{{ summaryd.speed }}</td>
                    <td>{{ summaryd.number_of_overspeed }}</td>
                    <td>{{ summaryd.total_overspeed }}</td>
                    <td>{{ summaryd.number_of_fatigueDriving }}</td>
                    <td>{{ summaryd.number_of_neutralSlide }}</td>
                    <td>{{ summaryd.total_neutralSlideTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>Chart.register(Chart.Colors);</script>
<div class="card m-3">
    <div class="row justify-content-center">
        {% for i in sum %}
        <div class="card col-6 -m">
            <canvas id="{{names|indexed:forloop.counter}}"></canvas>
        </div>
        <script>
            const ctx{{ forloop.counter }} = document.getElementById('{{names|indexed:forloop.counter}}');

            new Chart(ctx{{ forloop.counter }}, {
                type: 'bar',
                data: {
                    labels: {% autoescape off %}{{ drivers }}{% endautoescape %},
                datasets: [{
                    label: '{{names|indexed:forloop.counter}}',
                    data: {{ i }},
                    backgroundColor: ['rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                borderWidth: 1
        }]
      },
                options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
    });
        </script>
        {% endfor %}
    </div>
</div>
{% endblock %}